<div class='uit-slide uit-slide--{{ slides.length }}'>
    <div class='uit-slide-scroll' data-slide='{{ slides.length }}'></div>
    <div class='uit-slide-panel'>
        <div class='uit-container'>
            <h2>End</h2>
            <div class='uit-slide-panel__content uit-slide-end__content'>
                <span class='uit-slide-panel__content__inner'>
                    <span class='uit-slide-panel__title uit-slide-end__title'>
                        Credits
                    </span>
                    <br />
                    <span class='uit-slide-panel__description uit-slide-end__description'>
                        {{ credits }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
