<div class='uit-interface'>
    <div class='uit-container'>
        <ul class='uit-timeline'>
            {{#each slides}}
                <li class='uit-timeline__point' data-slide='{{ @key }}' style='left: {{ position }}%;'>
                    <a class='uit-timeline__point-bullet' href="#slide-{{ @key }}"></a>
                    <div class='uit-timeline__point-date'>{{ date }}</div>
                </li>
            {{/each}}
        </ul>
        <a href='https://theguardian.com' class='uit-logo'>
            <div class='uit-logo__button'>
                {{> icons/back }}
            </div>
            <div class='uit-logo__logo'>
                {{> icons/guardianIcon }}
            </div>
        </a>
        <div class='uit-arrows'>
            <div class='uit-arrow uit-arrow--back'>
                {{> icons/back }}
            </div>

            <div class='uit-arrow uit-arrow--forward'>
                {{> icons/forward }}
            </div>
        </div>
    </div>
</div>