<div class='uit-slide uit-slide---1'>
    <div class='uit-slide-scroll' data-slide='-1'></div>
    <div class='uit-slide-panel'>
        <div class="video_card_container">
            <video id="bgvid" playsinline autoplay muted loop>
                <source src="{{ path }}/assets/civil_rights.mp4" type="video/mp4">
            </video>
        </div>

        <div class='uit-slide-panel__content uit-slide-intro__content'>
            <div class='uit-slide-panel__content-container'>
                <span class='uit-slide-panel__content__inner uit-slide-intro__inner'>
                    <span class='uit-slide-panel__title uit-slide-intro__title'>
                        {{ headline }}
                    </span>
                    <br />
                    <span class='uit-slide-panel__description uit-slide-intro__description'>
                        {{ standfirst }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
