<div class='uit-slide uit-slide---1'>
    <div class='uit-slide-scroll' data-slide='-1'></div>
    <div class='uit-slide-panel'>
      <div class="video_card_container">
              <video id="bgvid" playsinline autoplay muted loop>
                <source src="../../assets/trimmed_video.mp4" type="video/mp4">
              </video>
          </div>
        <div class='uit-container'>
            <h2></h2>
            <div class='uit-slide-panel__content uit-slide-intro__content'>
                <span class='uit-slide-panel__content__inner' style='background: rgba(0, 0, 0, 0.5); box-shadow: none;'>
                    <span class='uit-slide-panel__title uit-slide-intro__title'>
                        Black Radicals in America
                    </span>
                    <br />
                    <span class='uit-slide-panel__description uit-slide-intro__description'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
