<div class='uit-slide uit-slide---1 is-active'>
    <div class='uit-slide-scroll' data-slide='-1'></div>
    <div class='uit-slide-panel'>
        <div class="video_card_container">
            <video id="bgvid" playsinline autoplay muted loop>
                <source src="{{ path }}/assets/civil_rights.mp4" type="video/mp4">
            </video>
        </div>

        <div class='uit-container'>
            <div class='uit-intro__content'>
                <h3 class='uit-intro__tag'>
                    <span class='uit-intro__tag__inner'>Timeline in pictures</span>
                </h3>

                <h1 class='uit-intro__headline' itemprop='headline'>
                    <span class='uit-intro__headline__inner'>{{ headline }}</span>
                </h1>

                <h2 class='uit-intro__standfirst' itemprop='standfirst'>
                    <span class='uit-intro__standfirst__inner'>{{ standfirst }}</span>
                </h2>

                {{> partials/share }}
            </div>
        </div>
    </div>
</div>
