<div class='uit-slide uit-slide--{{ @key }}'>
    <div class='uit-slide-scroll' data-slide='{{ @key }}'></div>
    <div class='uit-slide-panel'>
        <style>
            .uit-slide--{{ @key }} .uit-slide-panel {
                background-image: url({{ media }}/1000.jpg);
            }

            @media screen and (min-width: 960px) {
                .uit-slide--{{ @key }} .uit-slide-panel {
                    background-image: url({{ media }}/2000.jpg);
                }
            }
        </style>
        <div class='uit-container'>
            <div class='uit-slide-panel__content'>
                <span class='uit-slide-panel__content__inner'>
                    <span class='uit-slide-panel__title'>
                        {{ title }}
                    </span>
                    <br />
                    <span class='uit-slide-panel__description'>
                        {{ description }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>