.uit-interface {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uit-timeline {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 38px 0 0;
    width: calc(100% - 100px);
    background-color: #000;

    @include mq(tablet) {
        margin-top: 60px;
        width: calc(100% - 110px);
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $c-white;
    }
}

.uit-timeline__point {
    position: relative;
    width: 12px;

    &.is-passed .uit-timeline__point-bullet:before {
        opacity: 1;
    }

    &.is-active {
        .uit-timeline__point-bullet {
            z-index: 24;

            &:before {
                opacity: 1;
                background-color: $c-light-red;
            }
        }

        .uit-timeline__point-date,
        .uit-timeline__point-year {
            opacity: 1;
        }
    }

    &:hover {
      .uit-timeline__point-bullet {
            z-index: 24;

            &:before {
                opacity: 1;
                background-color: $c-light-red;
            }
        }
    }
}

.uit-timeline__point-bullet {
    position: absolute;
    z-index: 20;
    top: -6px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: $c-white;
    border-radius: 6px;

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: $c-grey;
        opacity: 0;
        transition: 0.5s linear opacity;
    }
}

.uit-timeline__point-year,
.uit-timeline__point-date {
    position: absolute;
    left: 0;
    font-family: 'Guardian Figures';
    font-weight: normal;
    color: $c-white;
    opacity: 0;
    transition: 0.3s linear opacity;

    .uit-timeline__point--late & {
        text-align: right;
        left: auto;
        right: 0;
    }
}

.uit-timeline__point-year {
    top: 24px;
    font-size: 32px;

    @include mq(tablet) {
        font-size: 64px;
        line-height: 1.2;
        top: auto;
    }

    @include mq(desktop) {
        font-size: 84px;
    }
}

.uit-timeline__point-date {
    top: 6px;
    min-width: 140px;
    font-size: 20px;

    @include mq(tablet) {
        font-size: 30px;
        line-height: 1.1;
        top: -44px;
    }
}

.uit-arrow {
    width: 44px;
    height: 44px;
    border-radius: 32px;
    position: absolute;
    top: calc(50vh - 22px);
    background-color: $c-white;
    cursor: pointer;
    opacity: 1;
    transition: background 0.2s linear, opacity 0.3s linear;

    @include mq(tablet) {
      width: 54px;
      height: 54px;
    }

    &:hover {
        background-color: $c-light-red;

        svg {
            fill: $c-white;
        }
    }

    &.is-disabled {
        pointer-events: none;
        opacity: 0;
    }

    svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        fill: $c-light-red;
        transition: background 0.2s linear;
    }
}

.uit-arrow--back {
    left: 10px;

    @include mq(mobileLandscape) {
        left: 20px;
    }
}

.uit-arrow--forward {
    right: 10px;

    @include mq(mobileLandscape) {
        right: 20px;
    }
}

.uit-logo {
    position: absolute;
    top: 16px;
    display: block;
    right: 10px;

    @include mq(mobileLandscape) {
        right: 20px;
    }

    @include mq(tablet) {
        top: 38px;
    }

    &:hover {
        text-decoration: none;

        .uit-logo__button {
            background-color: $c-red;
        }
    }
}

.uit-logo__button {
    position: relative;
    display: inline-block;
    background-color: $c-light-red;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    transition: background 0.2s linear;

    svg {
        position: absolute;
        left: -2px;
        right: 0;
        top: 0;
        bottom: 0;
        fill: $c-white;
    }
}

.uit-logo__logo {
    position: relative;
    z-index: 2;
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-left: -12px;
}
