.uit-intro__content {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 30;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 620px;
}

.uit-intro__tag {
    @include banding($c-light-red);
    margin: 0;
    color: $c-white;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 22px;
    margin-bottom: -3px;

    @include mq(tablet) {
        font-size: 26px;
    }
}

.uit-intro__headline {
    @include banding($c-black);
    margin: 0;
    font-size: 32px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    color: $c-light-red;

    @include mq(tablet) {
        font-size: 76px;
    }
}

.uit-intro__standfirst {
    @include banding($c-black);
    margin-top: 6px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
    font-style: italic;
    color: $c-white;
    font-size: 22px;
    line-height: 1.34;
    margin-bottom: 12px;

    @include mq(tablet) {
        font-size: 26px;
    }
}
