// intro stuff here
.video_card_container {
    width: 100%;
    height: 100%;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.uit-slide-panel__content {
    &.uit-slide-intro__content {
      bottom: 0vh;
      left: 0;
      max-width: 100%;
      background: rgba(0, 0, 0, .8);
      padding-bottom: 5vh;
      padding-top: 3vh;
    }
}

.uit-slide-panel__content-container {
  box-shadow: none;
  position: relative;

  @include mq(leftCol) {
      margin-left: 140px;
  }

  @include mq(wide) {
      margin-left: 220px;
  }

  &:before {
      @include mq(leftCol) {
          content: '';
          position: absolute;
          top: 1vh;
          bottom: 0;
          left: -10px;
          width: 1px;
          background-color: $c-light-grey;
      }
  }
}

.uit-slide-intro__inner {
  background: none;
  box-shadow: none;
}

.uit-slide-panel__title {
    &.uit-slide-intro__title {

      font-size: 42px;
      line-height: 1;

      @include mq(leftCol) {
        font-size: 64px;
      }
    }
}

#bgvid {
    min-height: 250px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
.uit-video-text {
    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
}
*/
