.uit-slide-scroll {
    height: 66vh;
    width: 100%;
}

.uit-slide-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .is-active & {
        opacity: 1;
    }

    .uit-container {
        height: 100%;
    }
}

.uit-slide-panel__content {
    position: absolute;
    bottom: 40px;
    left: 20px;
    @include banding($c-black);
    font-family: 'Guardian Egyptian Web';
    font-size: 22px;

    @include mq(tablet) {
        font-size: 30px;
        max-width: 620px;
    }
}

.uit-slide-panel__title {
    color: $c-light-red;
    font-weight: bold;
}

.uit-slide-panel__description {
    color: $c-white;
    font-weight: 300;
    font-style: italic;
}