.uit-slide-scroll {
    height: 66vh;
    width: 100%;

    .uit-slide:last-of-type & {
        height: 105vh;
    }
}

.uit-slide-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .ios &,
    .android & {
        bottom: -50px;
        transform: translateY(-50px);
    }

    .is-active & {
        opacity: 1;
        pointer-events: auto;
    }

    .uit-container {
        height: 100%;
    }

    .uit-slide__future-style {
        display: none;
    }
}

.uit-slide-panel__content {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    @include banding($c-black);
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }

    @include mq(tablet) {
        font-size: 28px;
        max-width: 620px;
    }
}

.uit-slide-panel__title {
    color: $c-light-red;
    font-weight: bold;

}

.uit-slide-panel__description {
    color: $c-white;
    font-weight: 400;
    font-style: italic;
    margin-top: 10vh;
}

.uit-slide__video {
    width: 100%;
    height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}

.uit-slide__video-player {
    min-height: 250px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
